html {
  font-size: 1rem;

  @include media-breakpoint-up(sm) {
    font-size: calc(0.5vw + 0.7rem);
  }
}

a {
  color: theme-color("a");
  transition: color $trans, background-color $trans;

  &:hover {
    color: theme-color("n");
    text-decoration: none;
  }
}

body {
  background-color: theme-color("b");
  min-height: 3000px;
}

.trans-after-page-load {
  transition: none !important;
}
