html {
  font-size: 1rem;

  @include media-breakpoint-up(sm) {
    font-size: calc(0.5vw + 0.7rem);
  }
}

a {
  color: theme-color("z");
  transition: color $trans, background-color $trans;

  &:hover {
    color: theme-color("n");
    text-decoration: none;
  }
}

body {
  background-color: theme-color("b");
  font-family: $ff-sans;

  @include media-breakpoint-up(md) {
    // .content {
    //   margin-top: 15rem;
    // }
  }
}

.content {
  padding-top: 1rem;
}

.trans-after-page-load {
  transition: none !important;
}

h1 {
  font-family: $ff-display;
  font-weight: 400;
}

.bread {
  margin-bottom: 1rem;

  .woocommerce-breadcrumb {
    margin-bottom: 0;
    color: theme-color("n");

    a {
      color: theme-color("z");

      &:hover {
        color: theme-color("n");
      }
    }
  }
}

.woocommerce {
  span.onsale {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: theme-color("a");
    width: 4.5em;
    height: 4.5em;
  }

  .amount {
    color: theme-color("n");
  }
}

