/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";

$theme-colors: (
  a: #ebb700,
  n: #222,
  g1: #292929,
  g2: #5c5c5c,
  g3: #a0a0a0,
  g4: #d3d3d3,
  b: #eee,
  z: #a19ddb,
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/* fuentes */
$ff-sans: brandy, sans-serif;
$ff-base: $ff-sans;
$ff-display: brandy-gtk, sans-serif;

/** Hamburger icon */
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 40px;
$hamburger-layer-height: 4px;
$hamburger-layer-spacing: 8px;
$hamburger-layer-color:theme-color("n");
$hamburger-layer-border-radius: 2;

$spacer: 1rem;
$trans: 0.5s;
