/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";

$theme-colors: (
  a: #ebb700,
  n: #222,
  w: #eee,
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/* fuentes */
$ff-sans: brandy, sans-serif;
$font-family-base: $ff-sans;
$font-family-display: brandy-gtk, sans-serif;

/** Hamburger icon */
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 40px;
$hamburger-layer-height: 4px;
$hamburger-layer-spacing: 8px;
$hamburger-layer-color:theme-color("n");
$hamburger-layer-border-radius: 2;

$spacer: 1rem;
$trans: 0.5s;
