/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
  color: theme-color("n");
  border: none;
  background-color: #fff;
  padding: 1em;

  &::placeholder {
    color: theme-color("g3");
  }

  &:focus {
    box-shadow: none;
    outline: none;
    background-color: theme-color("a");

    &::placeholder {
      color: theme-color("g3");
    }
  }

  .woocommerce & {
    background-color: theme-color("b");
  }
}

.woocommerce-MyAccount-navigation {
  ul {
    padding-left: 0;
    list-style-type: none;

    li {
      border-bottom: 1px solid theme-color("n");
      background-color: #fff;

      &:first-child {
        border-top: 1px solid theme-color("n");
      }

      a {
        display: block;
        color: theme-color("n");
        padding: 0.2em 0.5em;

        &:hover {
          background-color: theme-color("a");
        }
      }

      &.is-active a {
        background-color: theme-color("g4");
      }
    }
  }
}
