.content-info {
  padding: 1rem;
  background-color: theme-color("n");

  .navi {
    flex-wrap: wrap;

    .menu-footer-container {
      width: 100%;

      ul {
        li {
          width: 100%;
        }
      }
    }
  }

  a {
    color: theme-color("g4");

    &:hover {
      color: theme-color("a");
    }
  }

  .logo {
    width: 70px;
    margin-right: 2rem;

    svg path {
      fill: theme-color("a");
    }
  }

  .direccion {
    width: 200px;

    .nombre {
      font-family: $ff-display;
      font-size: 2rem;
    }

    p {
      margin-bottom: 0;
      font-weight: 200;
    }
  }

  @include media-breakpoint-up(md) {
    padding: 2rem;

    .navi {
      flex-wrap: nowrap;

      .menu-footer-container {
        width: auto;
      }
    }
  }
}
