.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.hamburger {
  &:focus {
    outline: none;

    .hamburger-inner {
      background-color: theme-color("a");

      &::before,
      &::after {
        background-color: theme-color("a");
      }
    }
  }
}
