/* stylelint-disable no-descending-specificity */
/* stylelint-disable number-no-trailing-zeros */

/*
 * z-index
 * .banner:      1000
 * .nav-primary: 2000
 */

.banner .nav li {
  @extend .nav-item;
}

.banner {
  top: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: theme-color("b");
  transition: top $trans;
  z-index: 1000;

  .campana {
    width: 100%;
    padding-bottom: 3rem;
    padding-top: 3rem;

    svg {
      width: 100px;
    }
  }

  .brand {
    text-align: center;
    width: 100%;

    .nombre {
      font-family: $ff-display;
      font-weight: 700;
      font-size: 3rem;
      margin-bottom: 0;
      line-height: 1em;

      a {
        color: theme-color("b");

        &:hover {
          color: theme-color("n");
        }
      }
    }

    .descrip {
      font-family: $ff-display;
      font-size: 1.5rem;
      margin-top: 0;
    }
  }

  .nav {
    justify-content: center;

    a {
      @extend .nav-link;

      font-size: 2rem;
      color: theme-color("n");
      padding: 0;

      svg {
        &.bg path {
          fill: theme-color("b");
        }
      }
    }
  }

  .nav-tienda {
    width: 100%;
    padding-bottom: 1rem;

    a {
      font-family: $ff-display;
      font-weight: 400;
    }

    p {
      color: theme-color("b");
      margin-bottom: 0;
      margin-top: 0;

      &.tel {
        font-size: 1.5rem;
      }
    }

    .direccion {
      background-color: theme-color("b");
      margin-left: 2rem;
      margin-right: 2rem;
      border-radius: 4px;
      padding: 1rem;
      border: 2px solid theme-color("n");

      p {
        color: theme-color("n");
      }
    }
  }

  .nav-primary {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    top: 0;
    left: -105vw;
    height: 100vh;
    width: 100%;
    background-color: theme-color("a");
    z-index: 2000;
    transition: left $trans;

    &.desplegado {
      left: 0;
    }

    .menu-menu-1-container {
      width: 100%;
    }

    li {
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
    }

    .title {
      display: block;
      text-transform: uppercase;
      font-size: 0.7rem;
      font-weight: 900;
      letter-spacing: 0.05em;
      line-height: 0.5em;
    }

    svg path {
      fill: theme-color("n");
    }
  }

  .hamburger {
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 2001;

    &:focus {
      outline: none;
    }
  }

  @include media-breakpoint-up(md) {
    $nav: 17rem;

    position: fixed;
    width: 100%;

    .hamburger {
      display: none;
    }

    .campana {
      width: calc((100% - #{$nav}) * 0.26);
      transition: padding $trans;

      svg {
        width: 33%;
        max-height: 130px;
        transition: width $trans;
      }
    }

    .brand {
      width: calc((100% - #{$nav} - 2rem) * 0.30);
      min-width: 170px;
      margin-left: 1rem;
      margin-right: 1rem;
      text-align: left;
      padding: 2rem;
      transition: padding $trans;

      .nombre {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        font-size: 2rem;
        border-bottom: 3px solid theme-color("b");
      }

      .descrip {
        font-size: 1.2rem;
        line-height: 1.2em;
      }
    }

    .nav-tienda {
      width: calc((100% - #{$nav}) * 0.26);
      min-width: 180px;
      flex-grow: 1;
      flex-shrink: 1;
      padding: 2rem 1rem 2rem 2rem;
      transition: padding $trans;

      .nav {
        justify-content: left;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 3px solid theme-color("b");

        a {
          padding: 0;
          line-height: 1em;

          &:hover {
            color: theme-color("b");
          }
        }
      }

      p.tel {
        font-size: 1rem;
        font-weight: 900;
      }

      .direccion {
        border: none;
        margin: 0;
        background-color: transparent;
        padding: 0;

        p {
          color: theme-color("b");
        }
      }
    }

    .nav-primary {
      position: static;
      display: block;
      height: auto;
      width: $nav;
      background-color: theme-color("a");
      padding-right: 1rem;
      padding-top: 1rem;
      transition: padding $trans;

      .nav {
        flex-wrap: nowrap;
        justify-content: flex-end;

        li {
          width: auto;

          a {
            display: block;
            font-size: 1.4rem;
            text-align: center;
            border-left: 2px solid theme-color("n");
            border-top: 2px solid theme-color("n");
            border-bottom: 2px solid theme-color("n");
            width: 3rem;
            height: 3rem;

            &[data-tippy-content="Tienda"] svg {
              margin-top: 0.5rem;
            }

            &[data-tippy-content="Contacto"] svg {
              margin-top: 0.5rem;
            }

            &[data-tippy-content="Carro"] svg {
              margin-top: 0.4rem;
              margin-left: -0.03rem;
            }

            &[data-tippy-content="Pagar compra"] svg {
              margin-top: 0.2rem;
            }

            &[data-tippy-content="Mi cuenta"] svg {
              margin-top: 0.2rem;
            }

            &:hover {
              background-color: theme-color("b");
            }

            svg {
              &.bg path {
                fill: theme-color("a");
              }
            }

            .title {
              display: none;
            }
          }

          &:nth-child(4) a {
            border-right: 2px solid theme-color("n");
          }

          &:last-child {
            border-radius: 50%;
            margin-left: 1rem;

            a {
              border-radius: 50%;
              border: 2px solid theme-color("n");
            }
          }
        }
      }
    }

    &.peq {
      .campana {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        svg {
          width: 2rem;
        }
      }

      .brand {
        padding: 1rem;

        .nombre {
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: none;
        }

        .descrip {
          display: none;
        }
      }

      .nav-tienda {
        padding: 1rem;

        .nav {
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: none;
        }

        .direccion {
          display: none;
        }
      }

      .nav-primary {
        padding-top: 0.5rem;
      }
    }

    &.offcanvas {
      top: -350px;
    }
  }
}
