@font-face {
  font-family: "brandy-gtk";
  src: url("../fonts/brandy-gtk-Bold.woff2") format("woff2"), url("../fonts/brandy-gtk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "brandy-gtk";
  src: url("../fonts/brandy-gtk-Medium.woff2") format("woff2"), url("../fonts/brandy-gtk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
